.home-container {
    height: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .home-container {
        width: 75%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-container {
        width: 60%;
    }
}

.todo-list-item {
    box-sizing: border-box;
    padding: 8px;
    min-height: 60px;
    margin-top: 3px;
    background-color: #d3b340;
    color: #ece7ce;
    font-size: 22px;
}

.todo-list-item.todo-is-done {
    background-color: #008000;
}

.footer {
    position: sticky;
    bottom: 3px;
    margin-top: 12px;
}

.search-bar {
    position: sticky;
    top: 3px;
    margin-bottom: 8px;
}

.search-bar > input, 
.edit-item-pane-cntr input {
    font-size: 22px;
    width: 100%;
    border: 0;
    padding: 8px;
    background-color: #e7e7e7;
}

.bottom-btn-cntr {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-btn-cntr .btn-close {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.bottom-btn-cntr .btn-save-todo {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.todo-list-item button {
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.todo-list-item .btn-edit {
    background-color: #e7e7e7;
    color: black;
}

.todo-list-item .btn-delete {
    background-color: #f44336;
}

.edit-item-pane-cntr {
    background-color: #fff;
    font-size: 16pt;
}

.todo-item-details-cntr {
    padding: 5px;
}

.todo-details-heading {
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
}

.btm-btn-row-cntr {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btm-btn-row-cntr .add-btn {
    background-color: #d3b340;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.pagination-cntr {
    display: flex;
}

.pagination-cntr .pagination-btn {
    font-size: 16px;
    padding: 3px 18px;
    text-align: center;
    border: none;
}

.pagination-cntr .pg-nbr-cntr {
    padding: 16px;
    font-size: 18px;
    font-weight: bold; 
}

.footer-page-info-cntr {
    text-align: center;
}
